:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

@font-face {
    font-family: Outfit;
    src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}

a, p, span, div, h1, h2, h3, article, section, header, footer, button {
    margin: 0;
    padding: 0;
}

input,
select,
textarea,
button {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 5vw 2rem;
  font-family: Outfit, var(--default-font-family);
  background: #C5D7DF;
}

main {
    position: relative;
}

/* Sliders section start from here */
.slider {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    background: url(./assets/images/AXFIMNEqnzei.png) no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.slider .slide {
    width: 90%;
    margin-left: 10%;
    position: relative;
    z-index: 111111111 !important;
    height: 70vh;
}

/* Slider static text */
.static-text {
    top: 30%;
    left: 10%;
    width: 50%;
    color: #fff;
    font-size: 3em;
    z-index: 11;
    font-weight: bolder;
    position: absolute;
}

.slider .slide .image {
    width: 50%;
    height: 90vh;
    margin-top: 10%;
}

.slider .slide .image img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    object-position: center;
}

.slider .text {
    color: #fff;
    font-size: 3em;
    font-weight: bolder;
}

.slide-action-layout {
    left: 10%;
    bottom: 10%;
    position: absolute;
}

.slide-action-layout .round-btn {
    width: 2em;
    height: 2em;
    padding: 0.6em;
    cursor: pointer;
    border-radius: 50%;
    background: white;
}

#navigation_dots {
    margin: 0 1em;
}

.dot {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 0.5em;
    cursor: pointer;
    border-radius: 50%;
    background: #ffffff;
    transition: all .3s ease;
}

.dot.active {
    background: #02487E;
}

/* Slider section end */
/* Nav section css started from here */

nav {
    left: 50%;
    height: 4em;
    z-index: 999;
    margin-top: -2em;
    padding: 0 2em;
    position: absolute;
    width: calc(80% - 2em);
    background: #ffffff;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
    transform: translateX(-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav .logo {
    margin: 0;
    width: 200px;
    height: 4em;
}

nav .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

nav a {
    margin: 0 1em;
    color: #02487E;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav a:nth-last-child(1) {
    margin-right: 0;
}

nav a.active {
    color: #ffffff;
    background: #02487E;
    border-radius: 40px;
}

/* Nave style end here */
/* Cards and rest details start from here */
/* Second body container and all other style start from here */

.body {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

header {
    color: #02487E;
    position: relative;
    margin-bottom: 2em;
    text-transform: uppercase;
}

header p {
    font-weight: 200;
    color: #176179;
}

header::before, 
header::after {
    top: -2em;
    left: -5%;
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    pointer-events: none;
    background: url(./assets/images/wdl1.png) no-repeat;
}

.wder {
    right: 0;
    max-width: 200px;
    margin-top: 1em;
    max-height: 300px;
    position: absolute;
    background: url(./assets/images/wdr1.png) no-repeat;
    background-position: top right;
}

.wde {
    top: var(--t);
    left: var(--l);
    right: var(--r);
    width: 200px;
    height: 300px;
    position: absolute;
    margin-top: var(--mt) !important;
    background: var(--b) no-repeat;
    background-position: top right;
    background-size: var(--sz);
    z-index: -11;
}


.cards {
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    height: 406px;
    max-width: 350px;
    width: 100%;
    background: white;
    mask: url(./assets/icons/bottom.svg) center / contain no-repeat, linear-gradient(#000 0 0);
    mask-size: 7em;
    mask-position: -0.2% 100.5%;
    mask-composite: exclude;
    border-radius: 30px 30px 30px 0;
    position: relative;
}

@media only screen and (max-width: 1300px) {
    .cards {
        justify-content: center;
    }

    .skills {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3em;
    }

    .skills article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .skills article h3 {
      font-size: 2em !important;
    }

    .skills .details-cards {
        width: 100%;
        min-width: 100%;
        height: max-content;
        overflow: auto;
    }

    footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    footer a {
        flex-wrap: wrap;
        font-size: 1.1em;
    }

    footer section {
        width: 100%;
        margin: 0;
        overflow: auto;
    }

    .static-text {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 425px){
    body {
        margin: 0;
        margin-top: 2em;
    }
    .slider {
        width: 100%;
        max-height: 400px !important;
        border-radius: 0 !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }

    .round-btn {
        width: 1.5em !important;
        height: 1.5em !important;
    }

    .slider .slide {
        width: 100%;
        height: 100%;
        max-height: 350px;
        margin: 0 !important;
        padding: 0 !important;
        justify-content: center;
    }

    .slider .slide .image {
        width: 100%;
        height: 100vh;
        max-height: 350px !important;
    }

    .slider .slide .image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
    }

    .static-text {
        width: 90%;
        left: 5%;
        top: auto;
        font-size: 1.1em;
        bottom: 20% !important;
        margin-left: 0 !important;
    }

    .slide-action-layout {
        left: 0;
        width: 100%;
        justify-content: center;
        bottom: 1em !important;
    }

    .card {
        width: 95%;
    }

    .visit-site {
        width: 80% !important;
    }

    .effect {
        width: 40% !important;
        height: 30% !important;
    }

    .wder,
    .wde {
        max-width: 150px !important;
    }
}

.card.top {
    background: white;
    mask: url(./assets/icons/top.svg) center / contain no-repeat, linear-gradient(#000 0 0);
    mask-size: 8em;
    mask-position: 100.5% -0.5%;
    mask-composite: exclude;
    border-radius: 30px 0px 30px 30px;
    position: relative;
    margin-top: 1.5em;
}

.card.top article {
    margin-top: 0;
}

.card.top .banner {
    max-height: 230px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.card.top .banner img {
    width: 108%;
    height: 100%;
    object-fit: cover;
    margin-left: -5px;
    object-position: left;
}

.visit-site.top {
    top: 7em;
    right: 0;
    z-index: 1111;
    position: absolute;
}

.cards section {
    position: relative;
}

.card article {
    margin: 2em;
    color: #02487E;
    padding-top: 2em;
    text-transform: uppercase;
}

.card article p {
    color: #176179;
    margin: 0.2em 0;
    font-weight: bold;
}

.card article span {
    color: #176179;
    font-weight: 200;
}

.card .banner {
    width: 100%;
    height: 100%;
}

.card .banner img {
    width: 100%;
    object-fit: cover;
}

.visit-site {
    width: 100%;
    height: 62px;
    padding: 0 1em;
    max-width: 300px;
    margin-top: -4em;
    position: absolute;
    background: rgba(23, 97, 121, 38%);
    backdrop-filter: blur(2px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 30px;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.visit-site .icon {
    width: 45px;
    height: 45px;
    margin-left: -10px;
}

.visit-site .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.effect {
    top: var(--t);
    left: var(--l);
    right: var(--l);
    width: 447px;
    height: 425px;
    opacity: 0.7;
    z-index: -1111;
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
    /* pointer-events: none;  */
    margin-left: var(--ml);
    margin-top: var(--mt);
    background-color: var(--bg);
}

.mask {
    top: var(--t);
    left: var(--l);
    right: var(--r);
    margin-top: var(--mt);
    width: 447px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.skills {
    margin-top: 10%;
}

.skills article span {
    text-transform: uppercase;
    font-size: 1.4em;
    color: #02487E;
    font-weight: bold;
}

.skills article h3 {
    font-size: 3em;
    color: #02487E;
}

.skills article p {
    color: #176179;
}

button {
    background: #02487E;
    border-radius: 50px;
    color: #fff;
    padding: 0.7em 2em;
    font-size: 1.5em;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1em;
    text-transform: uppercase;
}

.card-text {
    height: 433px;
    width: 100px;
    background: white;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.details-cards {
    gap: 20px;
}

.card-item {
    position: relative;
    width: 100px;
    height: 433px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

/* Card Text */
.card-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    background-color: #fff;
}

/* Container Setup */
.details-cards {
    display: inline-block;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* Each Card */
.card-item {
    position: relative;
    width: 100px;
    height: 433px;
    overflow: hidden;
    float: left;
    margin: 0.5em;
    transition: width 0.4s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

/* Expand on Hover */
.card-item:hover {
    width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Card Text Style */
.card-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-text span {
    transform: rotate(-90deg);
    display: inline-block;
    font-weight: bold;
    font-size: 3em;
    color: #02487E;
}

/* Tech Cover Hidden Initially */
.tech-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: #fff;
    box-sizing: border-box;
}

.tech-cover .image-view {
    width: 300px;
    height: 100%;
    position: relative;
}

.tech-cover .image-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tech-cover .text {
    width: 80%;
    padding: 0 10%;
    position: absolute;
    top: 1em;
    z-index: 1111;
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
}

.card-item:hover .card-text {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
}

.card-item:hover .tech-cover {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.tech-cover .text {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.card-item:hover .image-view img {
    transform: scale(1.1);
     filter: brightness(0.8);
}

/* Contact section start from here */
.contact {
    gap: 5em;
    margin-top: 3em;
}

.contact .cover {
    width: 90%;
    max-width: 453px;
    height: 523px;
    overflow: hidden;
}

.contact .cover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    margin-top: 10%;
}

footer .logo {
    margin: 0;
    width: 400px;
    height: 8em;
}

footer .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

footer a {
    margin: 0 1em;
    color: #02487E;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
}

.social .icon {
    width: 40px;
    height: 40px;
    margin: 0 0.5em;
}

.social .icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.end-mask {
    left: 0;
    width: 100%;
    margin-top: -3em;
    overflow-y: hidden;
    height: 150px;
    position: absolute;
}

.blob-2 {
    width: 50%;
    height: 50%;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}